.alert a:hover {
    text-decoration: none;
}

.alert .tarefa {
  font-size: 1.3em;
}

h3.panel-title {
  font-weight: bold;
}

.panel-default > .panel-heading  {
  background-color: #333;
  color: #fff;
}

#edit-help {
  margin-top: 1rem; 
  font-size: smaller;
}

.navbar {
  border-radius: 0;
}